
body {
    font-family: 'Segoe UI', silver garden, Futura, helvetica, sans-serif;
    background: #F5EFEB;
    color: #2F4156;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 850px;
    margin: 30 auto;
    padding: 40px 30px;
    background: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    border: 2px solid #CBD9E6;
}

header {
    text-align: center;
    background: #C8D9E6;
    padding: 20px;
    border-radius: 16px;
    color: #2F4156;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #1d3557;
}

header p {
    font-size: 1.2em;
    color: #457b9d;
}

section {
    margin-top: 30px;
    padding: 20px;
    background-color: #C8D9E6;
    border-radius: 16px;
    border: 1px solid #567C8D;
}

h2 {
    color: #2F4156;
    border-bottom: 1px solid #567C8D;
    padding-bottom: 5px;
}

h3 {
    color: #567C8D;
}

a {
    color: #2F4156;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding-left: 20px;
}

footer {
    text-align: center;
    margin-top: 40px;
    color: #567C8D;
    font-size: 0.9em;
    padding: 10px;
    border-top: 1px solid #C8D9E6;
}


.skill-icons {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
}

.skill-icons img {
    width: 48px;
    height: 48px;
    transition: transform 0.2s ease;
    filter: grayscale(100%) brightness(0.5) sepia(1) hue-rotate(180deg) saturate(300%) contrast(0.8);
}

.skill-icons img:hover {
    transform: scale(1.15);
}
